.poll-list {
  display: grid;
  gap: 1rem;
  background: var(--light);
  padding: 1.5rem;
  border-radius: 4px;
  align-content: flex-start;

  & h2 {
    color: var(--background-dark);
    text-align: center;
  }
}
